.md-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.md-grid {
  max-width: none !important; /* Allow it to take full width */
  padding-left: 0 !important;
  padding-right: 0 !important;
}